---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { BLOG_TITLE, BLOG_DESCRIPTION } from "@data/consts";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

// reverse-chronological order
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={BLOG_TITLE} description={BLOG_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
        justify-content: space-between;
        text-align: right;
        text-transform: lowercase;
        margin: var(--line-spacing) 0;
      }
      ul li :global(time) {
        /* flex: 0 0 130px; */
        color: #595959;
      }
      ul li a:visited {
        /* color: #8e32dc; */
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                <FormattedDate date={post.data.pubDate} />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
